<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mon actualité</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <style>
            html {
                font-size: 150%;
            }

            body {
                padding: 3rem 0.5rem;
            }

            h2, p {
                margin: 0;
            }

            .wrapper {
                max-width: 80ch;
                margin: auto;
            }

            .flow > * + * {
                margin-top: 1rem;
            }

            .flow--small > * + * {
                margin-top: 0.5rem;
            }

            a {
                color: #36b;
                text-decoration: none;
            }

            .text--secondary {
                color: #444;
            }

            footer {
                padding-top: 2rem;

                color: #222;
                font-size: 0.9em;
            }
        </style>
    </head>

    <body class="wrapper flow">
        <h1>Mon actualité</h1>

        {%- for entry in entries %}
            <article class="flow-small">
                <h2><a href="{{ entry.link }}">{{ entry.title }}</a></h2>

                <p>
                    {{ entry.link | domain }} ⋅
                    <small class="text--secondary">
                        {{ entry.published[:10] }}
                    </small>
                </p>
            </article>
        {%- endfor %}

        <footer>
            <p class="text--secondary">
                Généré avec <a href="https://framagit.org/marienfressinaud/hitchhiker/">Hitchhiker</a>.
            </p>
        </footer>
    </body>
</html>
